/* Reset de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #E3E3E3;
  }
/* Estilos generales */
h1 {
    margin: 30px;
    font-size: 88px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
}
.subrayado2{
    color: #000000; /* change the color of the text to black */
    border-bottom: 10px solid #A5CD64; /* change the color of the underline to red and adjust the thickness of the underline */
    text-underline-offset: 0.5px;
}
p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #666666;
    margin-top: 70px;
}
.container{
    font-size: 31px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #ffffff;
    
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: #000000;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 80px; /* add top margin to separate the button from the <p> element */
    margin-bottom: 90px;
  }
  
  .container button {
    text-decoration: underline;
    text-decoration-color: #ffffff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
  }
  .separador {
    border-style: double;
    border-width: 3px;
    border-color: #ccc;
    margin: 120px 0;
    position: relative;
    z-index: 1; /* Esto asegura que el separador esté encima de la imagen */
} 
  .container:hover {
    background-color: #000000;
  }



  .contenedoruno{
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .imagen1 {
    position: relative;
    align-items: right;
    justify-content: flex-start;
    top: 0;
    right: 0;
  }
  
  .imagen2 {
    position: relative;
    align-items: right;
    justify-content: flex-start;
    margin-top: 90px;
    top: 100%; /* height of the first image */
    right: 0;
  } 
  .imagenes {
    display: inline-block;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: space-around; /* align items to the top of the container */
    justify-content: flex-start; /* add space between the items */
    width: 100%; /* ensure the container has enough width for the images to be aligned to the right */
    height: 50px;
    margin: 0 auto;
    margin-top: 80px; /* add top margin to separate the button from the <p> element */
    margin-bottom: 90px;
}

.segundo {
    margin: 30px;
    color:#000000;
    margin-bottom: 30px; /* add margin-bottom to .segundo */
    font-size: 88px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    /* float: right; */
}
.subrayado {
    color: #000000; /* change the color of the text to black */
    border-bottom: 10px solid #DB2919; /* change the color of the underline to red and adjust the thickness of the underline */
    text-underline-offset: 0.5px;
}
.separador {
    border-style: double;
    border-width: 3px;
    border-color: #ccc;
    margin: 120px 0;
}
.tercero{
    margin-top: 120px; /* add margin-bottom to .tercero */
    font-size: 88px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.subrayado3{
    color: #000000; /* change the color of the text to black */
    border-bottom: 10px solid #2291DE; /* change the color of the underline to red and adjust the thickness of the underline */
    text-underline-offset: 0.5px;
}
.subtitulo{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #666666;
    margin-top: 30px;
    margin-bottom: 100px;
}
.containercol {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.columna {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.columna1 {
    background-color: #dbdbdb;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    width: 370px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.columna2 {
    background-color: #dbdbdb;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    width: 370px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
}

.columna3 {
    background-color: #dbdbdb;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    width: 370px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.contenedorimg2 {
    width: 150 px;
    height: 150 px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden; /* Este nuevo estilo cortará cualquier contenido que exceda el tamaño del cuadrado */
}

.contenedorimg2 img {
    max-width: 100%;
    height: auto;
    /* La siguiente línea centrará la imagen dentro del cuadrado */
    object-fit: cover;
}
.contenedorimg1 {
    width: 150 px;
    height: 150 px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden; /* Este nuevo estilo cortará cualquier contenido que exceda el tamaño del cuadrado */
}

.contenedorimg1 img {
    max-width: 100%;
    height: auto;
    /* La siguiente línea centrará la imagen dentro del cuadrado */
    object-fit: cover;
}
.contenedorimg3 {
    width: 150 px;
    height: 150 px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden; /* Este nuevo estilo cortará cualquier contenido que exceda el tamaño del cuadrado */
}

.contenedorimg3 img {
    max-width: 100%;
    height: auto;
    /* La siguiente línea centrará la imagen dentro del cuadrado */
    object-fit: cover;
}
.separador {
    border-style: double;
    border-width: 3px;
    border-color: #ccc;
    margin: 80px 0;
    position: relative;
    z-index: 1; /* Esto asegura que el separador esté encima de la imagen */
}
.cuartotit{
    margin: 30px;
    color:#000000;
    margin-bottom: 50px; /* add margin-bottom to .segundo */
    font-size: 88px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-top: 90px;
    /* float: right; */
}
.subrayado4{
    color: #000000; /* change the color of the text to black */
    border-bottom: 10px solid #e6c42f; /* change the color of the underline to red and adjust the thickness of the underline */
    text-underline-offset: 0.5px;
}
.sub3{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: #666666;
    margin-top: 80px;
    margin-bottom: 100px;
    margin: 30px;
    margin-left: 30px;
}
.sipote-container {
    float: right;
    width: 40%;
    height: auto;
    margin-top: 60px;
    justify-items: end;
    z-index: -1;
}

.sipote-image {
    float: right;
    width: 40%;
    height: auto;
    margin-top: 60px;
    justify-items: end;
    z-index: -1;
}

.text-container {
    float: left;
    width: 50%;
}

.separadorul {
    border-style: double;
    border-width: 3px;
    border-color: #ccc;
    margin: 80px 0;
    position: relative;
    z-index: 5; /* Esto asegura 
    que el separador esté encima de la imagen */
    margin-top: 40px;
}
.quinto{
    margin-top: 120px; /* add margin-bottom to .tercero */
    font-size: 88px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 80px;
}
section{
    margin-top: 70px;
    display: flex;
    width: 85%;
    height: 85%;
    align-items: center;
    align-content: center;
    justify-content: center; /* adjust this property to center the content horizontally */
    margin-bottom: 80px;
    justify-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin: auto; /* Centers the child element vertically */
  /* Add any other styles you need for the child element here */
}
section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5 ease;
}
section img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);

}